/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
a {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

html, body {
    width: 100%;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fullwidth {
    display: block;
    width: 100%;
}

.float-right {
    float: right;
}

.color-red {
    color: red;
}
.color-blue {
    color: blue;
}

.index-box > ul > li {
    display: inline-block;
    width: 36%;
    padding: 5%;
}

.index-box > .tab-box > div {
    border-bottom: 1px solid #aaa;
}

.index-box > .tab-box > div > a {
    display: inline-block;
    width: 38%;
    padding: 5%;
}

.index-box > .tab-box > div > a:first-child {
    border-right: 1px solid #aaa;
}

.index-box > .tab-box > div > a > img {
    display: block;
    width: 100%;
}

.choose-title p {
    text-align: center;
    padding: 10px 0;
}

.choose-container {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding:10px;
    margin-bottom: 30px;
}

.choose-container h4 {
    margin: 10px 0;
}

.choose-box {
    display: block;
}

.choose-box > li p {
    width: 100%;
}

.no-select {
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: 10vw;
    height: 10vw;
    border:1px solid #aaa;
    border-radius: 50%;
    margin: 1vw;
}

.selected {
    border:1px solid transparent;
}

.red .no-select {
    color: red;
}

.blue .no-select {
    color: blue;
}

.red .selected {
    color: #fff;
    background-color: red;
}

.blue .selected {
    color: #fff;
    background-color: blue;
}

.btn-box {
    padding: 10px;
}

.page2 .btn-box {
    padding: 18px;
}

.btn-border {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.btn-ok {
    display: inline-block;
    padding: 10px 30px;
    background-color: red;
    border-radius: 5px; 
    color:#fff;   
}

.order-box .line-box {
    border: 3px solid #aaa;
    margin: 0 4vw;
}

.order-box .line-box .line {
    display: block;
    border-top: 2px dashed #aaa;
    margin: 4px 0;
}

.order-contain {
    width: 86vw;
    margin: -5px auto 0;
    border: 1px solid #aaa;
    padding: 10px 0 25px;
    background: #fff;
}

.order-contain > div {
    display: inline-flex;
    border-bottom: 1px dashed #aaa;
    padding: 2vw 2vw;
}

.order-contain > div:not(:last-child) {
    border-bottom: 1px dashed #aaa;
}

.order-contain > div > .close {
    text-align: center;
    margin-top: 2vw;
    border: 2px solid #000;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    font-size: 12px;
    font-weight: bold;
}

.order-contain > div > .order-info {
    width: 60vw;
    margin-left: 5vw;
}

.order-contain > div > .order-info > .order-info-more {
    margin-top: 10px;
}

.order-contain > div > .order-info .order-info-price {
    margin-left: 20px;
}

.order-contain > div > .order-info .color-blue {
    margin-left: 2%;
}

.order-contain > div .order-img{
    width: 10vw;
}

.bet-box {
    margin-top: 30px;
    padding: 20px;
}

.bet-box > p {
    display: inline-block;
}

.bet-box > p > span {
    display: inline-block;
    padding: 4px 0;
}

.bet-box > p > .react-border {
    border: 1px solid #aaa;
    padding-left: 3px;
    padding-right: 3px;
}

.bet-box > p > .react-border.no-click {
    border-color: #eee;
}

.bet-box > p > .count-box {
    margin: 0 4px;
    width: 30px;
    text-align: center;
    border: 1px solid #aaa;
}

.page2 .fixed {
    position: fixed;
    bottom:0;
    width: 100%;
}

.page2 .order-price-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
    border-top: 1px solid #aaa;
}

.page2 .order-price-box > span {
    line-height: 30px;
}

.page2 .order-price-box > .price {
    font-size: 30px;
    color: red;
}

.page2 .order-price-box > .price small {
    font-size: 14px;
    color: #000;
}

.page2 .order-price-box > span.btn {
    padding: 2px 4vw;
    font-size: 18px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
}

.page3 {
    text-align: center;
    margin-top: 30vh;
}

.page3 > h2 {
    font-size: 36px;
}

.page3 > h2 > span {
    font-size: 60px;
}

.page3 > p.surplus {
    margin: 6vh 0;
}

.page3 > p > b {
    margin:0 3vw;
    color: red;
}

.page3 > p > span.btn {
    padding: 1vw 3vw;
    border: 1px solid #3195d8;
    border-radius: 5px;
    color: #3195d8;
}

.page3 > p.btn {
    padding: 2vh 0;
    font-size: 22px;
    width: 60%;
    margin: auto;
    border-radius: 5px;
    background-color: red;
    color: #fff;
}



