<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8" />
	<title>我的彩站</title>
	<meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="baidu-site-verification" content="QIQ6KC1oZ6" />
	<link rel="stylesheet" type="text/css" href="./css/base.css">
</head>
<body>
	<div id="app" class="container">
		<div class="page1" v-show="is_show1">
			<div class="choose-title">
				<p>第17150期</p>
			</div>
			<div class="choose-container">
				<h4 v-if="type==2">至少选5个</h4>
				<h4 v-else>至少选6个</h4>
				<ul class="choose-box red">
					<li class="no-select" @click="choose($event)" v-for="(item, index) in itemsred"><p>{{ index + 1 }}</p></li>
				</ul>
				<h4 v-if="type==2">至少选2个</h4>
				<h4 v-else>至少选1个</h4>
				<ul class="choose-box blue">
					<li class="no-select" @click="choose($event)" v-for="(item, index) in itemsblue"><p>{{ index + 1 }}</p></li>
				</ul>
			</div>
			<p class="btn-box"><span class="btn-random btn-border" @click="random">机选</span><span class="float-right btn-ok" @click="chooseOk">选好了</span></p>
		</div>
		<div class="page2" v-show="is_show2">
			<p class="btn-box"><span class="btn-again btn-border" @click="is_show2=0;is_show1=1;index.clear();">再来一注</span><span class="float-right btn-random btn-border" @click="chooseRandom">随机一注</span></p>
			<div class="order-box">
				<p class="line-box"><span class="line"></span></p>
				<div class="order-contain">
					<div v-for="(item, index) in choosed">
						<p class="close" @click="deleteOrder(index)">X</p>
						<div class="order-info">
							<p>
								<span class="color-red">{{ item.choose_red.join(' ') }}</span>
								<span class="color-blue">{{ item.choose_blue.join(' ') }}</span>
							</p>
							<p class="order-info-more">
								<span v-if="item.count == 1">单式</span>
								<span v-else>复式</span>
								<span class="order-info-price">{{ item.count + "注" + item.price + "元" }}</span>
							</p>
						</div>
						<div class="order-img">
							<img class="fullwidth" v-if="type == 2" src="./img/icon-letou.png" alt="">
							<img class="fullwidth" v-else src="./img/icon-shuangse.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="bet-box" v-if="choosed.length > 0">
				<p>追 
					<span v-if="period_count > 1" class="react-border" @click="period_count--;index.calculPrice()">－</span>
					<span v-else class="no-click react-border">－</span>
					<span class="count-box">{{ period_count }}</span>
					<span class="react-border" @click="period_count++;index.calculPrice()">＋</span> 期
				</p>
				<p class="float-right">投 
					<span v-if="bet_count > 1" class="react-border" @click="bet_count--;index.calculPrice()">－</span>
					<span v-else class="no-click react-border">－</span>
					<span class="count-box">{{ bet_count }}</span>
					<span class="react-border" @click="bet_count++;index.calculPrice()">＋</span> 倍
				</p>
			</div>
			<div class="order-price-box">
				<span class="price">{{ price }} <small>元</small></span>
				<span>{{ "1注" + period_count + "期" + bet_count + "倍"}}</span>
				<span class="btn" @click="is_show2=0;is_show3=1;">支付</span>
			</div>
		</div>
		<div class="page3" v-show="is_show3">
			<!-- <div class="close">X</div> -->
			<h2>￥<span>{{ price }}</span></h2>
			<p class="surplus">账户余额：<b>999</b><span class="btn">充值</span></p>
			<p class="btn">确认支付</p>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="./js/layer.js"></script>
	<script>
		var RED = 1, BLUE = 2, SuperEnalotto = 2, UnionLotto = 1;//SuperEnalotto 大乐透	UnionLotto 双色球
		var TYPE = GetQueryString('type');
		
		var index = new Vue({
			el: '#app',
			data: {
			    itemsred: '',
			    itemsblue: '',
				choosed: [],
				is_show1: 1,
				is_show2: 0,
				is_show3: 0,
				type:"",
				period_count: 1,
				bet_count: 1,
				price:""
			},
			methods: {
				whileTime (a, b) {
					var items = [];
					// var add = {"id":0}
					for (var i = 1; i < a + 1; i++) {
						(function(b){
							items.push({"id":b});
						})(i);
					}
					if(b == RED){
						this.itemsred = items;
					} else if(b == BLUE) {
						this.itemsblue = items;
					} else {
						console.log("传入的参数有误");
					}
				},
				choose (event) {
					var ev = event.currentTarget;
					// console.log(ev)
					ev.classList.contains("selected") ? ev.classList.remove("selected") : ev.classList.add("selected");
				},
				random () {
					//生成随机彩票 6个红的，1个蓝的
					//	主要实现方式是将数组打乱，去前面几个数组中的值
					this.clear();
					
					if(TYPE == SuperEnalotto) {
						var red_arr = this.upset(35);
						var blue_arr = this.upset(12);
						console.log(red_arr);
						console.log(blue_arr);
						for(var i = 0; i < 5; i++) {
							document.querySelector(".red > li:nth-child(" + red_arr[i] + ")").classList.add("selected");
						}
						for(var j = 0; j < 2; j++) {
							document.querySelector(".blue > li:nth-child(" + blue_arr[j] + ")").classList.add("selected");
						}
					} else if (TYPE == UnionLotto) {
						var red_arr = this.upset(33);
						var blue_arr = this.upset(16);
						console.log(red_arr);
						console.log(blue_arr);
						for(var i = 0; i < 6; i++) {
							document.querySelector(".red > li:nth-child(" + red_arr[i] + ")").classList.add("selected");
						}
						document.querySelector(".blue > li:nth-child(" + blue_arr[1] + ")").classList.add("selected");
					} else {
						console.log("参数有误")
					}
				},
				chooseOk () {
					//验证、及选择好后把数据放在data的数据中
					//	choose = {红色球数组，蓝色球数组，总价格}
					var choose_red = [],
						choose_blue = [],
						price,isonly,count,
						li_red = document.querySelectorAll(".red > li.selected"),
						li_blue = document.querySelectorAll(".blue > li.selected");
					// UnionLotto 双色球的选择规则  SuperEnalotto 大乐透选择规则
					if(TYPE == UnionLotto) {
						if(li_red.length < 6){
							layer.open({content: '请至少选择6个红球',skin: 'msg',time: 2 /*2秒后自动关闭*/});
							return false;
						} else if(li_blue.length < 1) {
							layer.open({content: '请至少选择1个蓝球',skin: 'msg',time: 2 /*2秒后自动关闭*/});
							return false;
						} else {}
					} else if(TYPE == SuperEnalotto) {
						if(li_red.length < 5){
							layer.open({content: '请至少选择5个红球',skin: 'msg',time: 2 /*2秒后自动关闭*/});
							return false;
						} else if(li_blue.length < 2) {
							layer.open({content: '请至少选择2个蓝球',skin: 'msg',time: 2 /*2秒后自动关闭*/});
							return false;
						} else {}
					} else {};
					[].forEach.call(li_red,function(ev){
						choose_red.push(ev.querySelector("p").innerHTML);
					});
					[].forEach.call(li_blue,function(ev){
						choose_blue.push(ev.querySelector("p").innerHTML);
					});

					count = this.calcul(choose_red.length, choose_blue.length);
					price = count * 2.88;
					this.choosed.push({choose_red,choose_blue,"price": price,"type": TYPE,"count": count});
					console.log(this.choosed);
					this.is_show1 = 0;
					this.is_show2 = 1;
					this.calculPrice();
				},
				calcul (a,b) {
					// 单注购买时，以及复式购买时分别对应的价格
					// 彩票数字没有先后顺序，使用的是排列组合来计算
					// UnionLotto 双色球的选择规则  SuperEnalotto 大乐透选择规则
					if(TYPE == UnionLotto) {
						if(a == 6 && b == 1) {
							return 1;
						} else if(a == 6 && b > 1) {
							return b;
						} else if(a > 6) {
							var f = this.factorial(a, a - 6) / this.factorial(6) * b;
							console.log("",f);
							return f;
						} else {
							console.log("传入的球数有误");
						}
					} else if(TYPE == SuperEnalotto) {
						if(a == 5 && b == 2) {
							return 1;
						} else if(a == 5 && b > 2) {
							return this.factorial(b, b - 2) / this.factorial(2);
						} else if(a > 5) {
							var f = this.factorial(a, a - 6) / this.factorial(6) * (this.factorial(b, b - 2) / this.factorial(2));
							console.log("",f);
							return f;
						} else {
							console.log("传入的球数有误")
						}
					} else {};
				},
				calculPrice () {
					var total = 0;
					for(var k in this.choosed) {
						total += this.choosed[k].price;
					}
					total = total * this.period_count * this.bet_count;
					console.log(total);
					this.price = total;
				},
				factorial (a, b) {
					var c = 1;
					if(b) {
						for(var i = a; i > b; i--) {
							c *= i;
						}
						console.log("a,b:",c)
					} else {
						for(var i = a; i > 0; i--) {
							c *= i;
						}
						console.log("a:",c)
					}
					return c;
				},
				chooseRandom () {
					// UnionLotto 双色球的选择规则  SuperEnalotto 大乐透选择规则
					if(TYPE == UnionLotto) {
						var choose_red = this.upset(33).slice(0,6);
						var choose_blue = this.upset(16).slice(0,1);
					} else if(TYPE == SuperEnalotto) {
						var choose_red = this.upset(35).slice(0,5);
						var choose_blue = this.upset(12).slice(0,2);
					} else {};
					this.choosed.push({choose_red,choose_blue,"price": 2.88,"type": TYPE,"count": 1})
					this.calculPrice();
				},
				deleteOrder (a) {
					console.log(a);
					this.choosed.splice(index,1);
					this.calculPrice();
				},
				clear (a) {
					[].forEach.call(document.querySelectorAll(".choose-box > li"),function(ev){
						ev.classList.remove("selected")
					})
				},
				upset (a) {
					var arr = [];
					for(var i = 1; i <= a; i++) {
						arr.push(i)
					}
					arr.sort(function(){
						return 0.5 - Math.random();
					});
					return arr;
				}
			},
			created() {
			},
			mounted () {
			},
			
		});
		if(TYPE == SuperEnalotto) {
			index.whileTime(35, RED);
			index.whileTime(12, BLUE);
			index.type = SuperEnalotto;
		} else {
			index.whileTime(33, RED);
			index.whileTime(16, BLUE);
			index.type = UnionLotto;
		}
		function GetQueryString (name){
			var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
			var r = window.location.search.substr(1).match(reg);
			if(r!=null)return  unescape(r[2]); return null;
		}
	</script>
</body>
</html>